@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Bryant Museum QRCode Generator</h1>
    <p>Developed by the MIS Spring 2021 Bryant Capstone Team</a>.</p>
</div>

