@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Bryant Museum QRCode Generator</h1>
    <p>Developed by the MIS Spring 2021 Bryant Capstone Team</p>
</div>

