@model Byte[]
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Implementing QRCoder in my own stuff</title>

    <script>
        function testFunction() {
            alert("Functioning");
        }
    </script>
    <script>
        function printImg() {
            //var baseString = document.getElementById("baseString");
            var image = new Image();
            image.src = document.getElementById(currentQR).src;
            //image.src = "data:image/png;base64,{0}" + baseString;
            var win = window.open();
            win.document.write(image.outerHTML);
            win.document.write("<h1>" + image + "</h1>")
            //win.document.write('<img src="'+  + '"/>')
            win.focus();
            win.print();
            win.close();
        }
        function printTest() {
            var win = window.open();
            win.document.write('<h1>Test</h1>');
            win.focus();
            win.print();
            win.close();
        }

    </script>
</head>
<body>
    <div>
        <h1>QR Code Testing! Fun stuff!</h1>
    </div>
    <div>
        @using (Html.BeginForm(null, null, FormMethod.Post))
        {
            <label>Enter a string</label>
            <input type="text" name="qrText" />
            <button>Submit</button>
        }
    </div>
    @{
        if (Model != null)
        {
            <h3>QR Code Successfully Generated</h3>

            <img id="currentQR" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model))" />
            <button onclick="printImg()">Print button</button>
            <div>
                <a href="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model))" download="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model))">Download |</a>
                <a href="javascript:window.print()">Print |</a>
                <a href="javascript:window.open()">Open a window</a>
            </div>
            <div>
                <p id="baseString">@Convert.ToBase64String(Model)</p>
                <button onclick="printTest()">Test function</button>
                <button onclick="printImg()">Print button</button>
            </div>
        }
    }
</body>
</html>